* {box-sizing: border-box;}
body {background-image: url(images/fadedroad50.jpg); color:#221811; font-family: Verdana; margin: 0px;}
header {
    background-color:#d2b48c; 
    height: 150px; 
    background-image: url(images/coffeelogo.jpg); 
    background-repeat: no-repeat; 
    margin-bottom: 0px; 
    padding-bottom: 5px;
    padding-left: 240px;
    padding-top: 5px;
    color: #231814;
    text-decoration: none;
}

header:link {color: #231814;}
header:visited {color: #231814;}
header:hover {color: #FEF6C2;}

h1 {
    padding-top: 45px; 
    padding-left: 220px; 
    font-size: 3em; 
    margin-top: 0px;
	margin-bottom: 1em; 
	padding-top: 1em; 
	padding-bottom: 1em; 
	font-size: 2.5em; 
}

h2 {
    padding-top: 0.5em;
	padding-right: 0px; 
	padding-bottom: 0px; 
	padding-left: 0.5em; 
	margin-right: 0.5em; 
}

h2, h3 {color: #77352F}
h2, h3, p, div, ul, dl {padding-left: 3em; padding-right:2em;}
h4 {
    clear: left; 
    background-color:#d2b48c;
	font-size: 1.2em;  
	border-bottom: 1px solid #000000; 
	padding-bottom: 0px; 
    padding-left: 3em; 
    padding-right: 2em;
    text-transform: uppercase;
}

dt {font-weight: bold;}
form {padding: 2em;}
nav {
    float: left; 
    text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding-top: 10px;
	width: 200px; 
    text-decoration: none;
}

nav {
    padding: 1em;
	width: 8em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    text-align: center; 
	font-weight: bold;	
}

nav a {text-decoration: none;}
nav a:link {text-decoration: none; color:#fef6c2;}
nav a:hover {text-decoration: none; color:#cc9933;}	
nav a:visited {text-decoration: none; color:#d2b48c;}
nav ul {list-style-type: none; padding-left: 0; }

main {
	background-color:#fef6c2; 
    display: block;
    overflow: auto;
    padding: 0 0 2em 0;
	margin-top: 0px;
    margin-left: 200px; 
	padding-top: 0px; 
    padding-bottom: 1em; 
    padding-left: 3em;
    padding-right: 2em;
	font-size: 90%; 
}

footer {
    background-color:#d2b48c;
	font-size: 0.6em;
	font-style: italic;
	text-align: center; 
	border-top: 2px solid #221811;
    padding-bottom :10px; 
}

.details {padding-left: 20%; padding-right: 20%; overflow: auto;}
.floatleft {float: left;}
.onethird {float: left; width: 33%;}

#wrapper {
    background-color:#231814;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 3px 3px 3px #676767; 
    margin-top: 10px;
    width: 80%;
    padding: 0;
    min-width: 900px;
    max-width: 1280px;
}

#heroroad {
    background-image: url(images/hero.jpg);
	height: 300px;
    background-size: 100% 100%;
    background-repeat: none; 
}

#heromugs {
    background-image: url(images/heromugs.jpg);
	background-size: 100% 100%; 
	height: 250px; 
}

#heroguitar {
    background-image: url(images/heroguitar.jpg);
	background-size: 100% 100%; 
	height: 250px; 
}
